<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" " http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="hibernate.connection.url">jdbc:derby:C:\project\db\db1;</property>
        <!-- <property name="hibernate.connection.url">jdbc:derby:C:\Users\Aleks-Kulikov\project\data\db1;</property> -->
        <!-- Dialect is required to let Hibernate know the Database Type, MySQL, Oracle etc
        Hibernate 4 automatically figure out Dialect from Database Connection Metadata -->
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Outputs the SQL queries, should be disabled in Production -->
        <property name="hibernate.show_sql">true</property>
        
        <!-- configuration pool via c3p0-->   
        <property name="c3p0.acquire_increment">1</property>   
        <property name="c3p0.idle_test_period">100</property> <!-- seconds -->   
        <property name="c3p0.max_size">100</property>   
        <property name="c3p0.max_statements">0</property>   
        <property name="c3p0.min_size">10</property>   
        <property name="c3p0.timeout">100</property> <!-- seconds -->   
        <!-- DEPRECATED very expensive property name="c3p0.validate>-->  
        
        <!-- Авто создание таблиц базы из Entity классов -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
        <!-- Mapping with model class containing annotations -->
        <mapping class="tracingofficeequipment.entity.Logging"/>
        <mapping class="tracingofficeequipment.entity.Typeequipment"/>
        <mapping class="tracingofficeequipment.entity.Parlor"/>
    </session-factory>
</hibernate-configuration>
